{% extends "farms/base.html" %}

{% set sidebar_farms_list = True %}

{% block content %}

<table class="table table-hover nodes-list">
    <caption>
        <h2>{{ caption | default('Farms') }}</h2>
    </caption>
    <thead>
        <tr>
            <th>Farm name</th>
            <th>Pools</th>
            <th>Nodes</th>
        </tr>
    </thead>
    <tbody>
        {% for farm in farms %}
        <tr>
            <td>
                <a href="{{ url_for('farms.farm', name=farm.name) }}">{{ farm.name }}</a>
            </td>
            <td>
                {% if farm.pools %}<a href="{{ url_for('farms.pools', name=farm.name) }}">{{ farm.pools | count }}</a>{% endif %}
            </td>
            <td>
                {% set nodes_count = farm.pools | sum(attribute='nodes_count') %}
                {% if nodes_count %}<a href="{{ url_for('farms.nodes', name=farm.name) }}">{{ nodes_count }}</a>{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}
