{%- extends "farms/base.html" -%}

{%- set sidebar_kernels_list = True -%}

{%- block content -%}

<table class="table table-hover nodes-list">
    <caption>
        <h2>{{ caption | default('Kernels') }}</h2>
    </caption>
    <thead>
        <tr>
            <th>Created</th>
            <th>Name</th>
            <th>Images</th>
        </tr>
    </thead>
    <tbody>
        {%- for kernel in kernels -%}
        <tr>
            <td>
                {{ kernel.created }}
            </td>
            <td>
                {{ kernel.name }}
            </td>
            <td>
                {%- if kernel.boot_images -%}{{ kernel.boot_images | length }}{%- endif -%}
            </td>
        </tr>
        {%- endfor -%}
    </tbody>

</table>

{%- endblock -%}
