<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Pybootstrapper - {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" media="screen">
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">

        <div class="row-fluid">

        <div class="span3">
            <div class="well sidebar-nav sidebar-nav-fixed">

            {%- macro sidebar_active(val) %}{% if val %}active{% endif %}{% endmacro -%}

            {% block sidebar %}
                <ul class="nav nav-list">

                    <li class="nav-header">Pools</li>
                    <li class="{{ sidebar_active(sidebar_pools_list) }}"><a href="{{ url_for('pools.list') }}">List</a></li>

                    <li class="nav-header">Nodes</li>
                    <li class="{{ sidebar_active(sidebar_nodes_list) }}"><a href="{{ url_for('nodes.list') }}">List</a></li>

                    <li class="nav-header">Leases</li>
                    <li class="{{ sidebar_active(sidebar_leases_list) }}"><a href="{{ url_for('pools.leases') }}">List</a></li>

               </ul>
            {% endblock %}
            </div>
        </div>

        <div class="span9">
            {% block content %}{% endblock %}
        </div>

      </div>

    </div>
  </body>
</html>
